.wrapper{
    margin: 5px;
    color: darksalmon;
}

.nav{
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 250px;
    background-color: beige;
}

.lotsoftext{
    /* vh is a unit that represents 1/100th of the view height */
    /* 150vh is basically 150% of the window height */
    height: 150vh;
    width: 75%;
    background-color: red;
}

.positioning{
    width: 75%;
    background-color: cornsilk;
}

.positioning h1{
    text-align: center;
    color: green;
}

h3{
    color: aqua;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
}